<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98821341525-v1ghq0arokl3hk8g00obs6clb44a91e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98821341525-v1ghq0arokl3hk8g00obs6clb44a91e5</string>
	<key>API_KEY</key>
	<string>AIzaSyBNoYT0iwPgxq2gtGnwhDpuGEOqEQMz_F4</string>
	<key>GCM_SENDER_ID</key>
	<string>98821341525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.DevReels</string>
	<key>PROJECT_ID</key>
	<string>devreels</string>
	<key>STORAGE_BUCKET</key>
	<string>devreels.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:98821341525:ios:dc04db0999916484bfefdc</string>
</dict>
</plist>
